@model ViewModels.ProfileViewModel
@{
    ViewData["Title"] = "EditProfile";
}

<h2>EditProfile</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditProfile" asp-controller="Account" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="@Model.RoleId" class="control-label"></label>
                <select asp-for="@Model.RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
                <span asp-validation-for="@Model.RoleId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="@Model.Username" class="control-label"></label>
                <input asp-for="@Model.Username" class="form-control" />
                <span asp-validation-for="@Model.Username" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="ImageUpload" class="control-label"></label>
                <input asp-for="ImageUpload" type="file" class="form-control" />
                <span asp-validation-for="ImageUpload" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.EMail" class="control-label"></label>
                <input asp-for="@Model.EMail" class="form-control" />
                <span asp-validation-for="@Model.EMail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Address" class="control-label"></label>
                <input asp-for="@Model.Address" class="form-control" />
                <span asp-validation-for="@Model.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ZipCode" class="control-label"></label>
                <input asp-for="@Model.ZipCode" class="form-control" />
                <span asp-validation-for="@Model.ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.City" class="control-label"></label>
                <input asp-for="@Model.City" class="form-control" />
                <span asp-validation-for="@Model.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.State" class="control-label"></label>
                <input asp-for="@Model.State" class="form-control" />
                <span asp-validation-for="@Model.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Country" class="control-label"></label>
                <input asp-for="@Model.Country" class="form-control" />
                <span asp-validation-for="@Model.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.PhoneNumber" class="control-label"></label>
                <input asp-for="@Model.PhoneNumber" class="form-control" />
                <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.FullName" class="control-label"></label>
                <input asp-for="@Model.FullName" class="form-control" />
                <span asp-validation-for="@Model.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="@Model.IsActive" /> @Html.DisplayNameFor(model => Model.IsActive)
                    </label>
                </div>
            </div>

            <input type="hidden" asp-for="@Model.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

